@media screen and (max-width: 375px) {

  .character {
    width: 218.44px;
    height: 353px;
    position: absolute;
    left: 84px;
    animation: slideDownCharacter 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    opacity: 0;
    will-change: top, opacity;
    pointer-events: none;
    z-index: 5;
  }

  @keyframes slideDownCharacter {
    0% {
      top: -200px;
      opacity: 0;
    }
    100% {
      top: 214px;
      opacity: 1;
    }
  }

  .shadow {
    width: 189px;
    height: 35px;
    top: 547px;
    position: absolute;
    left: 95px;
    will-change: transform;
    pointer-events: none;
    animation: shadow 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    z-index: 2;
  }

  @keyframes shadow {
    0% {
      will-change: transform;
      transform: scale(0);
    }
    100% {
      will-change: transform;
      transform: scale(1);
    }
  }

  .startCharacter {
    width: 156.52px;
    height: 180px;
    position: absolute;
    top: 979px;
    left: 0px;
    pointer-events: none;
    z-index: 1;
    opacity: 0;
    will-change: left, opacity;
    transition: left 1s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  .startCharacter.visible {
    left: 110px;
    opacity: 1;
  }

  .smashCharacter {
    width: 151.09px;
    height: 182.02px;
    position: absolute;
    left: 300px;
    top: 1179px;
    opacity: 0;
    will-change: left, opacity;
    pointer-events: none;
    z-index: 1;
    transition: left 1s cubic-bezier(0.25, 0.1, 0.25, 1) 0.2s, opacity 1s cubic-bezier(0.25, 0.1, 0.25, 1) 0.2s;
  }

  .smashCharacter.visible {
    left: 120px;
    opacity: 1;
  }

  .earnCharacter {
    width: 148.13px;
    height: 180px;
    position: absolute;
    left: 0px;
    top: 1379px;
    pointer-events: none;
    z-index: 1;
    opacity: 0;
    will-change: left, opacity;
    transition: left 1s cubic-bezier(0.25, 0.1, 0.25, 1) 0.3s, opacity 1s cubic-bezier(0.25, 0.1, 0.25, 1) 0.3s;
  }

  .earnCharacter.visible {
    left: 125px;
    opacity: 1;
  }

  .smashToEarnCharacter {
    width: 184.35px;
    height: 180px;
    position: absolute;
    left: -100px;
    top: 2148px;
    opacity: 0;
    will-change: transform, opacity;
    pointer-events: none;
    z-index: 1;
    transition: left 1s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 1s cubic-bezier(0.25, 0.1, 0.25, 1) 0.3s;
  }

  .smashToEarnCharacter.visible {
    left: 100px;
    opacity: 1;
  }

  .ffffToEarnCharacter {
    width: 171.05px;
    height: 180px;
    position: absolute;
    left: 110px;
    top: 2500px;
    opacity: 0;
    will-change: top, opacity;
    pointer-events: none;
    z-index: 1;
    transition: top 1s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 1s cubic-bezier(0.25, 0.1, 0.25, 1) 0.3s;
  }

  .ffffToEarnCharacter.visible {
    top: 2355px;
    opacity: 1;
  }

  .playToEarnCharacter {
    width: 173.46px;
    height: 180px;
    position: absolute;
    left: 110px;
    top: 2748px;
    opacity: 0;
    will-change: transform, opacity;
    pointer-events: none;
    z-index: 1;
    transition: left 1s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 1s cubic-bezier(0.25, 0.1, 0.25, 1) 0.3s;
  }

  .playToEarnCharacter.visible {
    left: 110px;
    opacity: 1;
  }
}
