/* Стили всех стрелок */
@media screen and (min-width: 431px) and (max-width: 1440px) {

  .arrowToSmashMobile,
  .arrowToEarnMobile,
  .arrowToFfffToEarnMobile,
  .arrowToPlayToEarnMobile {
    display: none;
  }

  .arrowToSmash {
    width: 210px; /* 75% от оригинала 280px */
    height: 210px; /* 75% от оригинала 280px */
    top: 1008.75px; /* 75% от оригинала 1345px */
    left: 408.75px; /* 75% от оригинала 545px */
    position: absolute;
    z-index: 2;
    cursor: pointer;
    pointer-events: none;
  }

  .arrowToEarn {
    width: 247.5px; /* 75% от оригинала 330px */
    height: 225px; /* 75% от оригинала 300px */
    top: 1297.5px; /* 75% от оригинала 1730px */
    left: 727.5px; /* 75% от оригинала 970px */
    position: absolute;
    z-index: 2;
    cursor: pointer;
    pointer-events: none;
  }

  .arrowToSmash, .arrowToEarn {
    opacity: 0;
    transform: scale(1);
    transition: opacity 0.5s ease 1s, transform 0.5s ease;
    pointer-events: none;
  }

  .arrowToSmash.visible, .arrowToEarn.visible {
    opacity: 1;
    transform: scale(1);
  }

  .arrowToFfffToEarn {
    width: 240px;
    height: 250px;
    top: 2840px;
    left: 610px;
    position: absolute;
    opacity: 0;
    transform: scale(1) rotate(65deg);
    will-change: transform, opacity;
    z-index: 2;
    cursor: pointer;
    transition: opacity 0.5s ease 1s, transform 0.5s ease;
    pointer-events: none;
  }

  .arrowToFfffToEarn.visible {
    opacity: 1;
    transform: scale(1) rotate(65deg);
  }

  .arrowToPlayToEarn {
    width: 247.5px; /* 75% от оригинала 330px */
    height: 225px; /* 75% от оригинала 300px */
    top: 3160px; /* 75% от оригинала 4100px */
    left: 450px; /* 75% от оригинала 480px */
    position: absolute;
    transform: scale(1) rotate(105deg);
    will-change: transform, opacity;
    z-index: 2;
    cursor: pointer;
    transition: opacity 0.5s ease 1s, transform 0.5s ease;
    opacity: 0;
    pointer-events: none;
  }

  .arrowToPlayToEarn.visible {
    opacity: 1;
    transform: scale(1) rotate(105deg);
  }

  .arrowPlayButtonTopMiddle {
    width: 210px; /* 75% от оригинала 280px */
    height: 367.5px; /* 75% от оригинала 490px */
    top: 3675px; /* 75% от оригинала 4900px */
    left: 656.25px; /* 75% от оригинала 875px */
    position: absolute;
    transform: translate(0%, 0px) rotate(-2deg);
    will-change: transform, opacity;
    z-index: 2;
    cursor: pointer;
    transition: transform 0.3s ease;
    pointer-events: none;
  }

  .arrowPlayButtonTopLeft {
    width: 337.5px; /* 75% от оригинала 450px */
    height: 412.5px; /* 75% от оригинала 550px */
    top: 3795px; /* 75% от оригинала 5060px */
    left: 165px; /* 75% от оригинала 220px */
    position: absolute;
    transform: translate(0%, 0px) rotate(180deg);
    will-change: transform, opacity;
    z-index: 2;
    cursor: pointer;
    transition: transform 0.3s ease;
    pointer-events: none;
  }

  .arrowPlayButtonTopRight {
    width: 187.5px; /* 75% от оригинала 250px */
    height: 300px; /* 75% от оригинала 400px */
    top: 3825px; /* 75% от оригинала 5100px */
    left: 1001.25px; /* 75% от оригинала 1335px */
    position: absolute;
    transform: translate(0%, 0px) rotate(50deg);
    will-change: transform, opacity;
    z-index: 2;
    cursor: pointer;
    transition: transform 0.3s ease;
    pointer-events: none;
  }

  .arrowPlayButtonDownLeft {
    width: 187.5px; /* 75% от оригинала 250px */
    height: 300px; /* 75% от оригинала 400px */
    top: 4162.5px; /* 75% от оригинала 5550px */
    left: 225px; /* 75% от оригинала 300px */
    position: absolute;
    transform: translate(0%, 0px) rotate(230deg);
    will-change: transform, opacity;
    z-index: 2;
    cursor: pointer;
    transition: transform 0.3s ease;
    pointer-events: none;
  }

  .arrowPlayButtonDownRight {
    width: 337.5px; /* 75% от оригинала 450px */
    height: 412.5px; /* 75% от оригинала 550px */
    top: 4087.5px; /* 75% от оригинала 5450px */
    left: 952.5px; /* 75% от оригинала 1270px */
    position: absolute;
    transform: translate(0%, 0px);
    will-change: transform, opacity;
    z-index: 2;
    cursor: pointer;
    transition: transform 0.3s ease;
    pointer-events: none;
  }
}
