/* Стили подвала страницы */
.footer {
  width: 1920px;
  height: 716.79px;
  position: absolute;
  top: 6333px;
  z-index: 2;
  will-change: top, left;
  pointer-events: none;
  opacity: 0;
}

.footer.visible {
  animation: footer 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
  opacity: 1;
}

@keyframes footer {
  0% {
    top: 6333px;
  }
  100% {
    top: 5763px;
  }
}
