/* css/styles.css */
@import 'background.css';
@import 'elements.css';
@import 'text.css';
@import 'characters.css';
@import 'footer.css';

/* Основные общие стили */
html, body {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: start;
}

.hidden {
  display: none;
}
